@import '../../../styles';

.new-game-component {
  display: flex;
  justify-content: center;

  .new-game-card {
    display: flex;
    flex-flow: column;
    gap: 10px;

    h1 {
      margin-bottom: 20px;
    }

    .player-list {
      display: flex;
      flex-flow: column;
      gap: 10px;
      align-items: start;

      .player {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.new-player-input-wrapper {
  width: 100%;

  .new-player-input {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .card-xl {
    width: 80svw;
  }
}
