<div class="new-game-component">
  <div class="card card-xl new-game-card">
    <h1>Start a new game</h1>

    <div class="player-list">
      @for (player of players; track player; let idx = $index) {
        <div class="player">
          <span class="font-xl">{{ player.name }}</span>
          <button class="button button-secondary" (click)="removePlayer(idx)">Remove</button>
        </div>
      }
      <div class="new-player-input-wrapper">
        <input class="input-text new-player-input"
               id="addPlayerInput"
               #addPlayerInput
               type="text"
               placeholder="Player name"
               [editable]="false"
               [ngbTypeahead]="searchPlayer"
               [container]="'body'"
               [resultFormatter]="resultFormatter"
               (selectItem)="addPlayer($event)"
        >
      </div>
    </div>
    <button (click)="startGame()" class="button button-primary" [disabled]="players.length < 3">Start game</button>
  </div>
</div>
