<div class="home-wrapper">
  <img class="z z1 float1" src="cards/c1.png" width="200" style="top: 80vh; left: 80vw">
  <img class="z z2 float3" src="cards/c2.png" width="300" style="top: 10vh; left: 60vw">
  <img class="z z1 float2" src="cards/c3.png" width="250" style="top: 10vh; left: 10vw">
  <img class="z z4 float4" src="cards/c4.png" width="500" style="top: 40vh; left: 50vw">
  <img class="z z1 float3" src="cards/c5.png" width="200" style="top: 70vh; left: 10vw">
  <img class="z z2 float2" src="cards/c6.png" width="300" style="top: 30vh; left: 70vw">
  <img class="z z4 float3" src="cards/c7.png" width="380" style="top: 40vh; left: 20vw">
  <img class="z z2 float4" src="cards/c8.png" width="300" style="top: 20vh; left: 30vw">
  <img class="z z1 float4" src="cards/c9.png" width="150" style="top: 10vh; left: 80vw">
</div>
